<!DOCTYPE html>
<!--[if lte IE 7]> <html class="ie7" lang="ko-KR"> <![endif]-->
<!--[if IE 8]>     <html class="ie8" lang="ko-KR"> <![endif]-->
<!--[if IE 9]>     <html class="ie9" lang="ko-KR"> <![endif]-->
<!--[if !IE]><!--> <html lang="ko-KR">             <!--<![endif]-->
<head>
	<title>연세대학교 웹메일</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no"/>
	<!--[if lt IE 9]>
	<script src="./js/html5shiv.js?ver=1582198626"></script>
	<![endif]-->
	<!--[if lt IE 9]>
	<script src="./js/IE9.js?ver=1582198626"></script>
	<![endif]-->
	<!--[if lt IE 8]>
	<script src="./js/IE8.js?ver=1582198626"></script>
	<![endif]-->
	<!--[if lt IE 7]>
	<script src="./js/IE7.js?ver=1582198626"></script>
	<![endif]-->


	<script src="./js/jquery-2.2.4.min.js?ver=1582198626"></script>
	<script src="./js/lottie.js"></script>
	<!-- <script src='./js/bodymovin.min.js'></script> -->

	<script type="text/javascript" src="./js/jquery-migrate-1.2.1.js?ver=1582198626"></script>
	<script type="text/javascript" src="./js/jquery-ui.js?ver=1582198626"></script>
	<script type="text/javascript" src="./js/MonthPicker.js?ver=1617242076"></script>
	<!--script src="./js/jquery.js"></script>
	<script src="./js/core.js" type="text/javascript"></script>
	<link href="./css/core.css" rel="stylesheet" type="text/css">
	<link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="./css/tree.css" rel="stylesheet" type="text/css">
	<script src="./js/draggable.js"></script>
	<script src="./js/droppable.js"></script>
	<script src="./js/tree.js"></script-->

	<!--
    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <script type="text/javascript" src="./js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="./js/jquery-ui.min.js"></script>
    -->
	<script type="text/javascript" src="./js/lang_kr.js?ver=1684912019"></script>

	<!--link rel="stylesheet" type="text/css" href="./css/jquery.custom-scrollbar.css?ver=1582198626" />
	<script type="text/javascript" src="./js/jquery.custom-scrollbar.min.js?ver=1582198626"></script-->

	<link rel="stylesheet" href="./css/jquery-ui-1.8.18.custom.css?ver=1658905542" />
	<link rel="stylesheet" type="text/css" href="./css/reset.css?ver=1617242076" />

	<script type="text/javascript" src="./js/auto_complete.js?ver=1639709024"></script>
	<link rel="stylesheet" href="./css/auto_complete.css?ver=1617242076" />
	<script type="text/javascript" src="./js/selectize.js?ver=1644912344"></script>
	<link rel="stylesheet" href="./css/selectize.theme.css?ver=1617242076" />
	<script type="text/javascript" src="./js/plugin.js?ver=1644912344"></script>



	<link rel="stylesheet" type="text/css" href="./css/single_page.css?ver=1582198626" />
	<link rel="stylesheet" type="text/css" href="./css/materialdesignicons.min.css?ver=1617242076">
	<link rel="stylesheet" type="text/css" href="./css/fonts.css?ver=1582198626" />
	<link rel="stylesheet" type="text/css" href="./css/layout.css?ver=1673316725" />
	<link rel="stylesheet" type="text/css" href="./css/component.css?ver=1683089064" />
	<link rel="stylesheet" type="text/css" href="./css/global.css?ver=1671083130" />
	<link rel="stylesheet" type="text/css" href="./css/new.css?ver=1683089064" />
		<link rel="stylesheet" type="text/css" href="./css/member.css?ver=1671083130" />
	<link rel="stylesheet" type="text/css" href="./css/popup.css?ver=1656400945">

	<link rel="stylesheet" type="text/css" href="./css/flexbox_simple.css?ver=1582198626">

	<script type="text/javascript" src="./js/lodash.min.js?ver=1582198626"></script>
	<script type="text/javascript" src="./js/tmpl.min.js?ver=1582198626"></script>

	<link rel="stylesheet" type="text/css" href="./css/select2.min.css?ver=1582198626" />
	<link rel="stylesheet" type="text/css" href="./css/lw_select.css?ver=1623739784" />
	<script type="text/javascript" src="./js/select2.js?ver=1582198626"></script>

	<link rel="stylesheet" type="text/css" href="./css/style.css?ver=1617242076" />
	<script type="text/javascript" src="./js/jstree.min.js?ver=1605144145"></script>

	<script type="text/javascript" src="./js/jquery.cookie.js?ver=1608082221"></script>
	<script type="text/javascript" src="./js/site.validate.js?ver=1673316725"></script>
	<script type="text/javascript" src="./js/jquery.metadata.js?ver=1582198626"></script>
	<script type="text/javascript" src="./js/jquery.history.js?ver=1582198626"></script>
	<script type="text/javascript" src="./js/jquery.form.min.js?ver=1582198626"></script>
	<script type="text/javascript" src="./js/jquery.extend.min.js?ver=1582198626"></script>
	<script type="text/javascript" src="./js/minical.js?ver=1582198626"></script>
	<script type="text/javascript" src="./js/site.util.js?ver=1673316725"></script>
	<script type="text/javascript" src="./js/site.common.js?ver=1684912019"></script>
	<script type="text/javascript" src="./js/pub.js?ver=1651569059"></script>
	<script type="text/javascript" src="./js/scroller.js?ver=1582198626"></script>
	<script type="text/javascript" src="./js/tree.js?ver=1683712843"></script>
	<script type="text/javascript" src="./js/bubble_handler.js?ver=1582198626"></script>

	<script src="./js/jquery.mousewheel-3.1.3.js?ver=1582198626"></script>
	<script src="./js/jquery.serialize-object.min.js?ver=1582198626"></script>
	<script src="./js/jquery.scrollpanel-0.5.0.js?ver=1582198626"></script>


		<script type="text/javascript">
			var url_path = "..";
			var info_ver = "6.2305.1.1";

			function loadingStart(){//로딩 이미지 open
				var _img_tag = "<img src='./img/img_loading.gif' id='loading_alert' alt='loading' class='loadingAlert' />";
				dialog_loading('LOADING', _img_tag);
			}
			var postmaster = false;
			var search_query = '/member/lists?host_domain=yonsei.ac.kr&result=F_1';
			var SERVER_TYPE = 'WEBMAIL';
			var search_kind  = '';
			var serch_word   = '';
			var sch_alert	 = '검색어를 입력해 주세요.';


			var editor_font = {
				"key" : '',
				"name" : '돋움',
				"style" : '돋움,dotum',
				"size" : ''
			};

			$(function(){
				$.ajaxSetup({
					data: passport(),
				});
				// 리스트 클릭시 로딩페이지
				//$("a[href]").not("a[href^='#']").not("a[href^='javascript']").not("a[href^='http']").not("a[href*='/download']").not("[loading_except]").click(function(){
					//loadingStart();
				//});

				// 검색버튼
				$("#top_btn_search").click(function(){
					// var s_kind = $("#kindSelect [name='searchKind']:checked").attr("id");
					var s_kind = $("[name='searchKind'] option:selected").val();
					if(s_kind==undefined){
						s_kind = $("[name='searchKind'] option:first").val();
					}
					var s_word = stripScripts($("#serchWord").val());
					var sch_in_word = $("#sch_in_word").val();
					var sch_in_checked = $("#sch_in").prop("checked");

					var sch_string = "&searchKind="+s_kind+"&serchWord="+encodeURIComponent(s_word);
					if(sch_in_checked){
						sch_string += "&sch_in_word="+encodeURIComponent(sch_in_word);
					}else{
						search_query = search_query.replace(/[&]?ymd=[0-9]*/,"");
					}
					location.href = search_query + sch_string;
				});
				$("#serchWord").bind('focus',function(){
					$(this).bind('keyup',function(event){
						if(event.keyCode==13){
							$("#top_btn_search").trigger('click');
						}
					});
				})
				.bind('focusout',function(){
					$(this).unbind('keyup');
				});

				if(search_kind != undefined && serch_word != undefined){
					if(search_kind!=''){
						$("#kindSelect label[for='"+search_kind+"']").trigger('click');
					}
					if(serch_word!=''){
						$("#serchWord").val(serch_word);
					}
				}

			});

			// DEV-1352
			var stripScripts = function(s)
			{
				return s.replace(/<script[^>]*>.*?<\/script>/gi,'')
			}
			// var stripScripts = function(s){
			// 	var div = document.createElement('div');
			// 	div.innerHTML = s;
			// 	var scripts = div.getElementsByTagName('script');
			// 	var i = scripts.length;
			// 	while (i--) {
			// 		scripts[i].parentNode.removeChild(scripts[i]);
			// 	}
			// 	return div.innerHTML;
			// }

		</script>
</head>
<body class="page_skin  login_template01">

<style type="text/css">
html{background-image:none !important;overflow-y:auto !important;}
#header{display:none;}
</style>
<section class="memSecWrap">
<script>$.cookie("show_recipient", "on", {expires:365, path:"/webmail"});</script>
<style>
/* login_template01 css area */
.memSecWrap{overflow: hidden}
#login_template01BgBox{width:100%;height:650px;background:#eff5fa;position: relative;}
#login_template01_wrap{width:1007px;margin:0 auto;position: absolute;display: none}
#login_template01_wrap::after{display:block;content:"";clear: both;}
.login_template01_login_top{width:100%;clear:both;background:white;width:100%;height:120px}
.login_template01_login_top::after{display:block;content:"";clear:both}
.login_template01_login_top .login_template01_login_lang{margin-right: 66px;background:#fff;position: absolute;right:0;top:70px;}
.login_template01_login_top .mb-auth-lang-selector{width:150px!important;color:#888!important;position: inherit!important;top:0!important;left:0!important;border:solid 1px #888!important;box-sizing: inherit;height:inherit;line-height: inherit;position: relative!important;border-radius: 0!important;font-size:14px;}
.login_template01_login_top .mb-auth-lang-selector div#mb-auth-lang-slider{background:#fff;margin-top:4px;border-top:1px solid white;padding-top:4px;}
.login_template01_login_top .mb-auth-lang-selector div.mb-auth-lang{padding:0!important;height:32px;line-height:32px;cursor:pointer;}
.login_template01_login_top .mb-auth-lang-selector div#mb-auth-lang-selector-opener{padding:0 15px!important}
.login_template01_login_top .mb-auth-lang-selector div#mb-auth-lang-selector-opener span{content:'';display:inline-block;/* background: url(./img/global_icon_sprite5.png) no-repeat!important; background-position: -180px -480px!important;width:12px!important;height:6px!important;position:absolute;top:18px;right:15px;*/}
.login_template01_login_top .mb-auth-lang-selector div > a{color:#888!important;display:block;padding: 0 15px;}
.memSecWrap #mb-auth-bg .mb-auth-bg-filter{background:#fff;opacity:1;}
.memSecWrap #mb-auth-bg #mb-auth-wrapper{position:relative}
.memSecWrap #mb-auth-bg #mb-auth-wrapper.login{width: 503px;height: 509px;float: right;background: #fff;}
.memSecWrap #mb-auth-bg #mb-auth-wrapper #mb-auth-logo-area {width: auto!important;padding: 0 0 0 67px;height:auto;line-height:inherit;background:none;position: absolute;top:67px;left:0;}
.memSecWrap #mb-auth-bg #mb-auth-wrapper #mb-auth-input-area{padding:0;width: 370px;margin: 0 auto}
.memSecWrap #mb-auth-bg #mb-auth-wrapper #mb-auth-logo-image{width:200px;height:50px;display:block;background-position:left center;background-repeat:no-repeat;background-size:contain;}
.memSecWrap #mb-auth-bg #mb-auth-wrapper #mb-auth-input-area .mb-auth-textinput-area{height:46px;line-height: 46px;font-size: 16px;padding:0;}
.memSecWrap #mb-auth-bg #mb-auth-wrapper #mb-auth-input-area .mb-auth-textinput-area input{text-align: left;width:64%;padding:0 10px;font-size:14px;margin-bottom:4px;background: transparent;}
.memSecWrap #mb-auth-bg #mb-auth-wrapper #mb-auth-input-area .mb-auth-textinput-area .textinput{width:inherit;height:44px;line-height: inherit;float: left;width:60%;padding:0 10px}
.memSecWrap #mb-auth-bg #mb-auth-wrapper #mb-auth-input-area .mb-auth-login-button{background:#17469e;font-weight: bold;font-size: 19px;margin-top:6px;height:46px}
.memSecWrap #mb-auth-bg #mb-auth-wrapper #mb-auth-account-area{color:#717171;padding:15px 0 22px;width: 340px;margin: 0 auto;font-size:14px;line-height: normal}
.memSecWrap #mb-auth-bg #mb-auth-wrapper #mb-auth-input-area #mb-auth-message-box{margin-bottom:10px}
.memSecWrap #mb-auth-bg #mb-auth-wrapper #mb-auth-input-area .mb-auth-captcha-image-button{margin-bottom:4px}
.memSecWrap #mb-auth-bg #mb-auth-wrapper #mb-auth-input-area .mb-auth-captchainput{margin-bottom:0}
.memSecWrap #mb-auth-bg #mb-auth-wrapper.login .user_msg,
.memSecWrap #mb-auth-bg #mb-auth-wrapper.logout .user_msg{margin-top:2px;padding:0;line-height: unset;width: 340px;margin: 0 auto;margin-top: 10px;}
.memSecWrap #mb-auth-bg #mb-auth-wrapper #mb-auth-account-area #rememberid{margin-top: 3px;}
.memSecWrap #mb-auth-bg #copyright .copyright-filter{background:#fff;color:#919191}
.memSecWrap #mb-auth-bg #copyright p{color:#919191;opacity:1}
.memSecWrap #mb-auth-bg #copyright p > a{color:#919191}
.tail_words{float: right;padding-right: 16px;font-size: 14px;font-weight: bold;color: #666;width: 23;margin-bottom:4px;line-height: 43px;text-align: right}
.mb-auth-textinput-area input{text-align: center}
.login_template01_img{display: inline;float:left;position: absolute;width:503px;height:509px;background-position:center;background-size:cover;background-repeat:no-repeat;}
.user_msg:after{content:"";display:block;clear:both}
.memSecWrap #mb-auth-bg #mb-auth-wrapper #mb-auth-input-area .mb-auth-textinput-area.id:before{display:none}
.memSecWrap #mb-auth-bg #mb-auth-wrapper #mb-auth-input-area .mb-auth-textinput-area.lw_pw:before{display:none}
.memSecWrap #mb-auth-bg #mb-auth-wrapper #mb-auth-account-area #rememberid-label{cursor: pointer;}
.maintopbanner {width:auto!important;height:auto!important;}
.mb-portal-button{margin-top:10px;font-size:14px;display:block;text-align:center;}
.mb-portal-title{font-weight:bold;color:#17469e;padding-bottom:2px;}
.mb-portal-sub{display:inline-block;color:#17469e;font-size:12px;}
.mb-portal-button:hover{text-decoration:underline !important;}
</style>
<div id="mb-auth-bg" class="bg-type-01">
	<div class="mb-auth-bg-filter"></div>
	<div id="login_template01BgBox">
		<div id="login_template01_wrap">
			<div class="login_template01_img" style="background-image:url(./img/imageFile_1641881073.png)">
			</div>
			<div id="mb-auth-wrapper" class="login">
				<div class="login_template01_login_top">
					<div id="mb-auth-logo-area" class="ellipsis">
						<span id="mb-auth-logo-image" style="background-image:url(./img/logoFile_1643014429.jpg)"></span>
					</div>
					<div class="login_template01_login_lang">
						<div class="mb-auth-lang-selector">
							<div id="mb-auth-lang-selector-opener" class="mb-auth-lang">한국어<span class="mdi mdi-menu-down mdi-20 mdi-500 closed"></span></div>
							<div id="mb-auth-lang-slider">
								<div class="mb-auth-lang"><a href="javascript:language_select('kr');">한국어</a></div>
								<div class="mb-auth-lang"><a href="javascript:language_select('en');">English</a></div>
								<div class="mb-auth-lang"><a href="javascript:language_select('jp');">日本語</a></div>
								<div class="mb-auth-lang"><a href="javascript:language_select('cng');">中文简体</a></div>
								<div class="mb-auth-lang"><a href="javascript:language_select('cnb');">繁體中文</a></div>
								<div class="mb-auth-lang"><a href="javascript:language_select('vn');">tiếng Việt</a></div>
								<div class="mb-auth-lang"><a href="javascript:language_select('idn');">Bahasa Indonesia</a></div>
								<div class="mb-auth-lang"><a href="javascript:language_select('th');">ภาษาไทย</a></div>
							</div>
						</div>
					</div>
				</div>

				<div id="mb-auth-input-area">
					<div id="mb-auth-message-box" >
						<span id="chkLength">로그인을 해주세요.</span>
					</div>
					<form name="frmlogin" id="frmlogin" method="post" action="/member/do_login" onsubmit="return do_login();">
					<input type="hidden" name="mailplug_token" value="f4783e54f608863f0c4bf03caca81be8">
						<input type="hidden" name="http_host" value="zm901.mailplug.com">
						<input type="hidden" name="domain" value="yonsei.ac.kr">
						<input type="hidden" name="myvalue" value="40079180d403e82d011168fb387b3bee678958bc">
						<input type="hidden" name="capcha_code" value="">
						<input type="hidden" name="language_select" id="language_select" value="">

						<div class="mb-auth-textinput-area id">
							<input class="textinput" type="text" name="cid" id="cid" placeholder="아이디" title="아이디" value="" />
							<span class="tail_words">@yonsei.ac.kr</span>
						</div>

						<div class="mb-auth-textinput-area lw_pw">
							<input style="width:100%!important;" class="textinput" type="password" autocomplete="off" name="cpw" id="cpw" placeholder="비밀번호" title="비밀번호" value=""/>
						</div>


						<button type="submit" class="mb-auth-login-button">LOGIN</button>
					</div>

					<div id="mb-auth-account-area">
						<input type="checkbox" name="rememberid" id="rememberid" value="1"  />
						<label id="rememberid-label" for="rememberid">아이디 저장</label>
					</div>
						<p style="display: inline-block;width: 100%;font-size: 13px;font-weight:500;margin-top: 5px;color:#aebfcf;text-align: center;"> <a href="/sso/yonsei/login?type=add" target="_blank" style="background-color: #214284;padding: 2px 5px 4px;border-radius: 2px;color: white;font-weight: bold;font-size:12px;cursor:pointer;">아이디 신청</a> <a href="/sso/yonsei/login?type=pwdsearch" target="_blank" style="background-color: #214284;padding: 2px 5px 4px;border-radius: 2px;color: white;font-weight: bold;font-size:12px;cursor:pointer;">비밀번호 찾기</a> </p> <div style="font-size:14px; text-align:center; padding-top:20px;"> 고객센터<span style="font-weight:700; font-size:16px; color:#003777"> : 1668-2590</span> | 교내문의<span style="font-weight:700; font-size:16px; color:#003777"> : 02-2123-4972</span><br><a href="https://ycm.yonsei.ac.kr/cloudmail/board/info.do" style="font-weight:700; font-size:16px; color:#003777">문의사항(Q&A)</a><br><br></div>
				</form>
			</div>
			</div>
		</div>
	</div>
		<div id="copyright">
			<div class="copyright-filter"></div>
			<p>COPYRIGHT&copy; <a href="https://company.mailplug.com/" target="_blank">MAILPLUG</a> Inc. ALL RIGHTS RESERVED</p>
		</div>
</div>

<script type="text/javascript">
	d= new Date();
	var cnt = 0;
	function three_time_dialog(){
		var send_data = {};

		// set token
		send_data = $.extend(send_data, passport());

		Dialog.openSimple("../member/three_time", send_data, {
			title:'Message',
			width:400
		});
	}
	function three_time_chk(user_id){
		if(!user_id){
			three_time_dialog();
			return false;
		}
		$.ajax({
			dataType: "json",
			url: "../member/three_time_chk",
			data: {
				user_id : user_id
			},
			success: function(d){
				if(d.RESULT=="PASS"){
					$("#frmlogin").submit();
				}
				else if(d.RESULT=="DIALOG"){
					three_time_dialog();
				}
			}
		});
	}

	function access_zone_chk(user_id,login_auth){
		$.ajax({
			dataType: "json",
			url: "../member/access_zone_chk",
			data: {
				user_id : user_id,
				login_auth : login_auth
			},
			success: function(d){
				if(d.RESULT.substr(0,6)=='DIALOG'){
					if(split_index_get(d.RESULT,"last","_")=='NOTMATCH'){
						dialog_alert("Message","인증코드를 입력해 주세요.");
						return false;
					}
					access_zone_dialog(d);
				}
				else if(d.RESULT=="SUCCESS"){
					three_time_chk(user_id);
				}

			}
		});
	}
	// 인증코드 확인 다이얼로그 띄움
	function access_zone_dialog(d)
	{
		var send_data = {
			old_zone : d.old_zone,
			new_zone : d.new_zone,
			user_id  : d.user_id,
		};

		// set token
		send_data = $.extend(send_data, passport());

		Dialog.openSimple("../member/access_zone", send_data, {
			title:'해외 접속 차단 인증 코드',
			width:500,
			height:500
		});
	}
	$(function(){
		$("label img").live("click", function () {
			$("#" + $(this).parents("label").attr("for")).click();
		});
		var chkLength = $("#chkLength").text();
		if (!$("#mb-auth-message-box").hasClass("initial")) {
			var url = decodeURIComponent(location.href);
				url = decodeURIComponent(url);

			var params;

				params = url.substring(url.indexOf('?') + 1, url.length);
				params = params.split("&");
			var size   = params.length;
			var key, value;
			var f_ = "F_"
			for (var i = 0; i < size; i++) {
				key   = params[i].split("=")[0];
				value = params[i].split("=")[1];

				params[key] = value;
			}
			if ((chkLength.length > 30 || chkLength.length < 22)) {
				$(".login_template01_login_top").css("height", "90px");
				$("#mb-auth-logo-area").css("top", "34px");
				$(".login_template01_login_lang").css("top", "34px");
				$(".mb-auth-textinput-area").css("margin-bottom", "5px");
				$("#mb-auth-message-box").css("margin-bottom", "5px");
				$(".user_msg").css("margin-top", "9px");
			} else {
				$(".user_msg").css("margin-top", "5px");
			}
		}

		var img_on = "./img/ico_check_on.png"
		var img_off = "./img/ico_check.png"
		//$("#rememberid-label,#rememberid-label img").click(function(){
			//if($("#rememberid").attr("checked") == "checked"){
				//$("#rememberid_img").attr("src",img_off)
			//}else{
				//$("#rememberid_img").attr("src", img_on)
			//}
		//})

		$("#autosetting_download").click(function(){
			location.href = "https://download.mailplug.com/outlook_auto_config/Outlook_Auto_Config-1.3.exe";
		});

		$("#messenger_download").click(function(){
			location.href="https://www.mailplug.com/mailplug/download/";
		});


		/*
		 * 패스워드 찾기
		 */
		$("#pop_pw_search").click(function(){
			var langs = getCookie_lang();
			var width = (langs != "kr")?'1250':'1050';

			var option = "width="+width+"px,height=850px,scrollbars=no,resizable=0";
			window.open("../member/pw_search","pop_join",option);
		});

		// 사용자 bg 설정

		$("#cpw").bind("keyup",function(event){
			$("#mb-auth-wrapper").removeClass("alert");
			$("#mb-auth-message-box").removeClass("alert")			
			$("#mb-auth-message-box > span").html("로그인을 해주세요.");			
			if(event.keyCode == "13"){
				$("#cpw").blur();
				do_login();
			}
		});
		
		$("#cid").bind("keyup",function(event){			
			$("#mb-auth-wrapper").removeClass("alert");
			$("#mb-auth-message-box").removeClass("alert")			
			$("#mb-auth-message-box > span").html("로그인을 해주세요.");			
		});

		$("#login").click(function(){
			do_login();
		});


		var _this;
		$("#cid, #cpw").bind({
			focus : function(){
				_this = $(this);
				if(_this.attr("id") == "cid"){
					_this.removeClass("cid");
				}else{
					_this.removeClass("cpw");
				}
			},
			focusout : function(){
				_this = $(this);
				if(!_this.val()){
					if(_this.attr("id") == "cid"){
						_this.addClass("cid");
					}else{
						_this.addClass("cpw");
					}
				}
			}
		});
		if($("#cid").val() == ""){
			setTimeout(function() {$("#cid").focus();}, 200);
			//$("#cid").focus();
		}
		else{
			setTimeout(function() {$("#cpw").focus();}, 200);
			//$("#cpw").focus();
		}
		if(!$("#cpw").val() == false){
			$("#cpw").removeClass("cpw");
		}
		$("#pop_join_result").click(function(){
			var pop_type = this.id.replace('pop_','');
			if(pop_type=='join' || pop_type=='join_result'){
				var option = "width=1000px,height=900px,scrollbars=yes";
			}else{
				var option = "width=654px,height=300px,scrollbars=yes";
			}
			window.open("../member/"+this.id.replace('pop_',''),"pop_join",option);
		});

		$("#pop_join").click(function(){
			var pop_type = this.id.replace('pop_','');
				var option = "width=1050px,height=900px,scrollbars=yes";
				window.open("../member/"+this.id.replace('pop_',''),"pop_join",option);
		});
		$("input[name='user_type']").click(function(){
			var _this = $(this);
			var _this_tag = $(".login_type > li");
			_this_tag.each(function(){
				var _this = $(this);
					_this.removeClass("on");
			});
			_this.parent().addClass("on");

			//쿠키 생성
			setCookieLogin( "user_type", _this.attr('id') , 7 );
		});

		//쿠키 로그인 타입 활성화
		var user_type = getCookieLogin('user_type');
		if(user_type != '' && typeof user_type != 'undefined'){
			$("input[name='user_type']").prop('checked',false);
			$('#' + user_type).prop('checked',true);

			var _this_tag = $(".login_type > li");
			_this_tag.each(function(){
				var _this = $(this);
					_this.removeClass("on");
			});
			$('#' + user_type).parent().addClass("on");
		}

		$("#language_select").val("kr");

		$("#captcha_code_input").on("keyup", function(e) {
			if(e.keyCode >= 65 && e.keyCode <=90){
				//정규표현식으로 영문소문자를 찾고 toUpperCase()함수를 이용해 대문자로 변환
				$(this).val($(this).val().replace(/[a-z]/g,function(m){return m.toUpperCase();}));
			}
			$(this).val( $(this).val().replace( /[^a-zA-Z]/gi, '' ) );
		});


		$("#mb-auth-bg").css("background", "url('./img/imageFile_1641881073.png') center center");




		$("#mb-auth-lang-selector-opener").on("click",function(){
			var $opener_icon = $(this).find("span");

			if($opener_icon.hasClass('closed')){
				$opener_icon.removeClass('closed');
				$opener_icon.addClass('opened');
				$("#mb-auth-lang-slider").slideDown();
			}else{
				$opener_icon.removeClass('opened');
				$opener_icon.addClass('closed');
				$("#mb-auth-lang-slider").slideUp();
			}
		});
	});

function getCookieLogin(name) {
	var value = "; " + document.cookie;
	var parts = value.split("; " + name + "=");
	if (parts.length == 2)
		return parts.pop().split(";").shift();
	else
		return "";
}
function setCookieLogin( name, value, expiredays ) {
	var todayDate = new Date();
	todayDate.setDate(todayDate.getDate() + expiredays);
	todayDate.setHours('23','59','59');
	document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + todayDate.toUTCString() + ";"
}

function do_login()
{
	// submit이 진행중일 때, 추가로 submit을 시도하면 block
	$("#frmlogin").attr("onsubmit", "return false;");

	var send_data = {};

		var frm = $("#frmlogin")[0];
		if(!frm.cid.value){
			$("#mb-auth-wrapper").removeClass("prohibit").addClass("alert");
			$("#mb-auth-message-box").removeClass("initial").addClass("alert");
			$("#mb-auth-message-box > span").html("아이디를 입력해 주세요.");
			$("#cid").focus();
			$("#frmlogin").attr("onsubmit", "return do_login();"); // 다시 submit할 수 있도록 onsubmit 복원
			return false;
		}
		else if(!frm.cpw.value){
			$("#mb-auth-wrapper").removeClass("prohibit").addClass("alert");
			$("#mb-auth-message-box").removeClass("initial").addClass("alert");
			$("#mb-auth-message-box > span").html("비밀번호를 입력해 주세요.");
			$("#cpw").focus();
			$("#frmlogin").attr("onsubmit", "return do_login();"); // 다시 submit할 수 있도록 onsubmit 복원
			return false;
		}
		
		var post_val = "username="+frm.cid.value+
						"&password="+frm.cpw.value+
						"&count="+cnt;
		$.ajax({
			url: "./login.php" ,
			method : "POST",
			contentType:"application/x-www-form-urlencoded",			
			data: post_val, 
			async:false,
			timeout:5000,
			error:function(xhr, txt){
				handle_login_result("..", "F_1", "로그인 <strong>1회</strong> 실패하였습니다.<br>로그인 5회 실패 시 로그인이 차단됩니다.");
				return false;
			},
			success:function(data){
				if(data.indexOf("Login Fail") >= 0)				
					{
						//gbid("signInErrorDiv").hidden = false;
						//alert("로그인 정보가 올바르지 않습니다.");
						handle_login_result("..", "F_1", "로그인 <strong>1회</strong> 실패하였습니다.<br>로그인 5회 실패 시 로그인이 차단됩니다.");
						//$("#errorMsg_login").show();										
					}else if(data.indexOf("http") >= 0)
					{
						location.replace(data);
						//chk= false;	
					}
				
			}
		});
			
		cnt++;		
	
		$("#frmlogin").attr("onsubmit", "return do_login();");
		return false;
}

function language_select(lang)
{
	var optionVal = lang;
	var $FRM = $("<form id='form1' action='../member/login' method='post'></form>");
	// set token
	var token_res = passport();
	$FRM.append("<input type='hidden' name='mailplug_token' value='"+token_res['mailplug_token']+"'>");
	$FRM.append("<input type='hidden' name='setlang' value='"+optionVal+"'/>");
	$FRM.appendTo('body');
	$("#form1").submit();
}


$(document).ready(function(){
	auth_wrapper_adjust();
	$(window).resize(auth_wrapper_adjust);
});

function auth_wrapper_adjust()
{
	var winHeight = $(window).height();
	var wrapperHeight = $("#mb-auth-wrapper").height();
	var wrapperTop = (winHeight - wrapperHeight) / 2;

	$("#login_template01_wrap").css("top","50%").css("left", "50%").css("margin-left","-504px").css("margin-top","-255px");
	$("#login_template01BgBox").css("top", (wrapperTop)-70+"px");
	$("#login_template01_wrap").css("display", "block");

}
function reload_captcha()
{
	document.getElementById('captcha-img').src='/lw_api/lwcaptcha?atoken=&lw_domain=zm901.mailplug.com&lw_cid=&re&lw_img='+new Date().getTime();
}

handle_login_result("..", "", "");


</script>
		
</section>
<script type="text/javascript">
</script>
<div id="hidden_errors" style="display:none">
</div>

<div id="layerOpen" class="popup_layer"></div>
<div id="layerbg" class="ui-widget-overlay ui-front" style="display: none;"></div>

<script type="text/javascript">
	var new_skin_num = "4";
	var new_left_bg = "white";
	$(document).on('click', "div[id^='skin_color_']", function (e) {
		var skin_color = $(this).data('color');
		var left_bg_color = $(this).data('bg');
		var BG = ["skin_bg0", "skin_0", "btn_skin0", "hover_bg0"];
		var $el = $("#skin_user");
		$("div[id^='skin_color_']").removeClass('on');
		$(this).addClass("on");
		$.each(BG, function(k, v){
			var $el = $("." + v + new_skin_num);
			var $el_on = $el.find('ul > li.on');
			$el_on.attr('style', null);
			$el.attr('style', null);
			$el.removeClass(v + new_skin_num);
			$el.addClass(v + skin_color);
		})
		$(".static-sidebar").removeClass('skin_' + new_left_bg);
		$(".static-sidebar").addClass('skin_' + left_bg_color);
		new_skin_num = skin_color;
		new_left_bg = left_bg_color;

	 	if(skin_color != undefined && left_bg_color != undefined) {
	 		var d = new Date();
	 		var send_data = {
	 			custom_skinColor: skin_color,
	 			custom_skinLeft: left_bg_color,
	 			custom_skinRGB: '',
	 			custom_skinRGB_sub: ''
	 		};
	 	}
	 	// set token
	 	send_data = $.extend(send_data, passport());
	 	$.ajax({
	 		dataType: "json",
	 		method: 'POST',
	 		data: send_data,
	 		url: '../api/v1/setup/conf/user',
	 		success: function(){
	 			$("div[id^='skin_color_']").each(function(){
	 				if($(this).data('default') == 1) {
	 					$(this).data('default', null);
	 				}
	 				if($(this).hasClass('on')) {
	 					$(this).data('default', 1);
	 				}
	 			})
	 		}
		});
	});
	$(document).on('change', "#profile_layer_selectLang", function (e) {
		var lang_value = $('#profile_layer_selectLang').val();
	 	var send_data = {
	 		login_lang: lang_value,
	 	};
	 	// set token
	 	send_data = $.extend(send_data, passport());
	 	$.ajax({
	 		dataType: "json",
	 		method: 'POST',
	 		data: send_data,
	 		url: '../api/v1/setup/conf/user',
	 		success: function(){
				 location.reload();
	 		}
		});
	});

	$(document).on('click', '.profile-top .profile-detail', function (e) {
		var isUsingWorknote = '0' == '1' ? true : false;
		var worknoteData = '';
		var $layer = $('.layer_pop.profile_layer');

		if ($layer.hasClass('active')) {
			$layer.removeClass('active');
		}
		else {
			$('.layer_pop').removeClass('active');
			$layer.addClass('active');
		}
		//profile_layer 근무시간호출
		if(isUsingWorknote){
			if(worknoteData != "" && worknoteData != "null"){
				calculateWorknote(worknoteData);
			}
			$.ajax({
				type        :"GET",
				dataType    :"json",
				rsync		:false,
				url         :'/lw_api/get_worknote/',
				beforeSend : function(xhr){
				},
				success: function(res){
					if(res.result == false){
					}else{
						//(출근, 퇴근시)최초 값 세팅.
						calculateWorknote(JSON.stringify(res))
					}
				}
			});
		}
		e.stopPropagation();
	});


	// 도움말 레이어
	$(document).on('click', '.profile-top #help_icon', function (e) {
		var $layer = $('.layer_pop.manual_layer');

		if ($layer.hasClass('active')) {
			$layer.removeClass('active');
		} 
		else {
			$('.layer_pop').removeClass('active');
			$layer.addClass('active');
		}
		e.stopPropagation();

	});

	// 부가기능 레이어
	$(document).on('click', '.profile-top #app_icon', function (e) {
		var $layer = $('.layer_pop.download_list_layer');

   	$.cookie('new_icon_hide', true);
		if ($layer.hasClass('active')) {
			$layer.removeClass('active');
		}
		else {
       	if($("#new_icon").length > 0) {
           	$("#new_icon").hide();
       	}
			$('.layer_pop').removeClass('active');
			$layer.addClass('active');
		}
		e.stopPropagation();
	});

	$(document).on('click', function (e) {
		// $('.layer_pop').removeClass('active');
		// e.stopPropagation();

		//TODO: 레이아웃 변경 안내 (15일) & 위 주석 풀기
		if($('.guide-03').hasClass('active')){
			$('.layer_pop').removeClass('active');
			$('.profile_layer').addClass('active');
		}
		else{
			$('.layer_pop').removeClass('active');
		}
		e.stopPropagation();
	});
	$(document).on('click', '#profile_close', function (e) {
		// $('.layer_pop').removeClass('active');
		// e.stopPropagation();

		//TODO: 레이아웃 변경 안내 (15일) & 위 주석 풀기
		if($('.guide-03').hasClass('active')){
			$('.layer_pop').removeClass('active');
			$('.guide').removeClass('active');
			$('.guide-bg').animate({width:'0'});
			$('.guide-arrow').css('display','none');
		}else{
			$('.layer_pop').removeClass('active');
		}
		e.stopPropagation();
	});

	$(document).on('click', '.layer_pop', function (e) {
		e.stopPropagation();
	});

	var current_dept = "member";
	var last_url = "/member/login?host_domain=yonsei.ac.kr&";

	var side_bar_open = "Y"; // default

//side bar action
(function($){
	$('.toggle-menu').on('click', sideBarToggle);
}(jQuery));

/**
 * Update status of side bar
 * status "Y"/"N"
 */
function updateSidebarStatus(status){
	$.cookie('sidebarFix', status, {expires:365, path:'/'});
	if(status == "Y")
	{
		//open
		var twidth = $(".sidebar-wrapper").width();
		if(twidth == 60){
			twidth += $('.static-sidebar').width() + 1;
		}
		$(".sidebar-wrapper").find('#scroll_box').width($('.static-sidebar').width());
		$('.toggle-menu').addClass("on");
		$('.static-sidebar').css({"display": "block"});
		$('.toggle-menu').stop().animate({'left': twidth + 'px'}, { duration: 0, queue: false });
		$('.sidebar-wrapper').stop().animate({'width': twidth + 'px'}, { duration: 0, queue: false, complete: function () {
			$(document).trigger('scroller-resize');
		} });
	}
	else{//close
		$('.toggle-menu').removeClass("on");
		$('.static-sidebar').css({"display": "none"});
		$('.toggle-menu').stop().animate({'left': '60px'}, { duration: 0, queue: false });
		$('.sidebar-wrapper').stop().animate({'width': '60px'}, { duration: 0, queue: false, complete: function () {
			$(document).trigger('scroller-resize');
		} });
	}
}

function resizeWidth() {
	if("" == "split") {
		var main_width = $("#lw_c_main")[0].getBoundingClientRect().width;
		var all_width = $("#lw_c_cover")[0].getBoundingClientRect().width;
		var bar_width = $("#lw_drag")[0].getBoundingClientRect().width;
		var sub_width = (all_width - main_width) - bar_width;
		if(parseInt(sub_width) <= 200){
			sub_width = 200;
		}
		// 모든 계산이 다 끝난 후에 정수로 내림
		sub_width = parseInt(sub_width);
		$("#lw_c_sub").css("width",(sub_width - 48) + "px");
	}
}

/**
 * side bar toggle
 */
function sideBarToggle(e){
	if(side_bar_open == "Y")
		side_bar_open = "N";
	else
		side_bar_open = "Y";

	updateSidebarStatus(side_bar_open);//default open
	resizeWidth();
}

$(document).ready(function(){
	$(document).on("click","#layer_link_add",function(){
		$('#layer_link_box').css('display','block');
	})

	$(document).on("click","#layer_link_add_cancel",function(){
		$('#layer_link_box').css('display','none');
	})

	$(document).on("keyup","#layer_add_link_name, #layer_add_link_url",function(){
		var link_name = $("#layer_add_link_name").val();
		var link_url = $("#layer_add_link_url").val();
		if(link_name != '' && link_url != ''){
			$('#layer_link_add_ok').attr('disabled', false);
		}else{
			$('#layer_link_add_ok').attr('disabled', true);
		}
	})

	$(document).on("click","#layer_link_add_ok",function(){
		$('#layer_link_box').css('display','none');
		link_list_add();
	})

	function link_list_add(){
		var linkName = strip_tags($("#layer_add_link_name").val());
		var linkUrl = strip_tags($("#layer_add_link_url").val());

		if (linkName == ''){
			dialog_alert("Message", "링크명을 입력해 주세요.", function(){
				setTimeout(function(){
					$(document).on('click.layer_auto_close', "body", window.pub.layer2AutoCloseHandler);
				});
			});
			return false;
		}

		if (linkUrl == ''){
			dialog_alert("Message", "URL을 입력해 주세요.", function(){
				setTimeout(function(){
					$(document).on('click.layer_auto_close', "body", window.pub.layer2AutoCloseHandler);
				});
			});
			return false;
		}

		$.ajax({
			url: "/setting/link_save_new_ajax",
			data: { linkname : linkName, linkaddress : linkUrl, seq : 0 },
			type: "GET",
			dataType: "json"
		})

		var buf = new StringBuffer();
			buf.append("<li class='bookmark_item'>");
			buf.append("<a href='");
			if(linkUrl.substring(0,7)=="http://"){
				buf.append(linkUrl);
			}else if(linkUrl.substring(0,8)=="https://"){
				buf.append(linkUrl);
			}else{
				buf.append("http://"+linkUrl);
			}
			buf.append("' target ='Y' ");
			buf.append("title ='" + linkName + "'>");
			buf.append("<span class='text text_overflow_dot'>");
			buf.append("<i class='mdi mdi-folder-outline mdi-20 mdi-500 public-folder'></i>");
			buf.append(linkName);
			buf.append("</span></a></li>");

		var appTag = buf.toString();
		$("#layer_link_add").before(appTag);

		$("#layer_add_link_name").val('');
		$("#layer_add_link_url").val('');

		$("#link_box").trigger('lw.close');
	}

	$("input[data_type=date]").focus(function(){
			var custom_skin = "4";

		$("#ui-datepicker-div .ui-state-active").addClass("skin_cloudy");
		$("#ui-datepicker-div .ui-state-highlight").addClass("skin_select");

	});

	// 사이드바 아래 빈 공간을 배경색으로 채움 (크롬 대응; css로 지정하면 본문 깜빡임 현상 발생)
	//$(".sidebar-wrapper").css("background", "#313d47");

	$.cookie('sidebarFix', 'Y', {expires:365, path:'/'});

	// jquery selectbox
	$('select[data-class="noevent"]').select2({
		theme: 'lw-classic',
		width: '100%'
	}).on('change', function () {
		// value changed
	});
});


//스킨 색상 변경
function skin_color_change(color){
	d= new Date();
	$.ajax({
		dataType: "html",
		url: '../common/config_change/skinColor/'+ color + '?t=' + d.getTime(),
		success: function(d){
			location.reload();
		}
	});
}

function goLinkMain(num){
	if(num == 1){
		window.open("../webmail/outlook_download","_blank","width=486,height=393");
	}else if(num == 2){
		window.open("../webmail/outlook_setting?kind=1","_blank","width=502,height=364");
	}else if(num == 3){
		window.open("../webmail/outlook_setting?kind=2","_blank","width=502,height=364");
	}else{
		window.open("https://www.mailplug.com/front/mail/info/1?page_type=7");
	}
}
function remote_support_pop(el){

	var $layer = $('.layer_pop.manual_layer');
	$layer.removeClass('active');

	var temp = $('#layerOpen');     //레이어의 id를 temp변수에 저장
 	temp.load('/main/popup/remote_help', function(){
		$('#layerbg').fadeIn();
		$('#popup_' + el).show();
		temp.fadeIn();
		// 화면의 중앙에 레이어를 띄운다.
		temp.css('top',$(document).height()/2);
		temp.css('left',$(document).width()/2);
		if (temp.outerHeight() < $(document).height() ) temp.css('margin-top', '-'+temp.outerHeight()/2+'px');
		else temp.css('top', '0px');
		if (temp.outerWidth() < $(document).width() ) temp.css('margin-left', '-'+temp.outerWidth()/2+'px');
		else temp.css('left', '0px');
		$('#'+ el + '_close').click(function(e){
			temp.fadeOut();     //'닫기'버튼을 클릭하면 레이어가 사라진다.
			e.preventDefault();
			$('#layerbg').fadeOut();
		});
		$('#layerbg').click(function(e){
			temp.fadeOut();
			e.preventDefault();
			$('#layerbg').fadeOut();
		});
	});
}

//TODO: 레이아웃 변경 안내 (15일)
function startGuide() {
	var start_wd = $('.guide-bg').css('width','calc(100% - 48px)');
	$('.guide-bg').animate({
		width: start_wd,
		left:'0'
	},200);
	$('.guide').removeClass('active');
	$('.mdi-chevron-double-left').css('display','none');
	$('.guide-01').addClass('active');
	$('.mdi-chevron-double-right').css('display','block');
	$('.mdi-chevron-double-right').css('right','50px');
}
function nextGuide() {
	var start_wd = $('.guide-bg').css('width','calc(100%)');
	$('.guide-bg').animate({
		width:'calc(100% - 60px)',
		left:'60px'
	},200);

	$('.guide').removeClass('active');
	$('.guide-02').addClass('active').delay(8000);
	$('.mdi-chevron-double-right').css('display','none');
	$('.mdi-chevron-double-left').css('display','block');
	$('.mdi-chevron-double-left').css('left','80px');
}
function lastGuide() {
	var last_wd = $('.guide-bg').css('width','calc(100% - 290px)');
	$('.guide-bg').animate({
		width: last_wd,
		left:'0'
	},500);
	$('.guide').removeClass('active');
	$('.mdi-chevron-double-left').css('display','none');
	$('.guide-03').addClass('active');
	$('.mdi-chevron-double-right').css('display','block');
	$('.mdi-chevron-double-right').css('right','290px');
}
function guideDone() {
	$('.guide-bg').animate({width:'0'});
	$('.guide').removeClass('active');
	$('.layer_pop.profile_layer').removeClass('active');
	$('.guide-arrow').css('display','none');
	send_data={custom_hide_bulb: 1};
	send_data = $.extend(send_data, passport());
	$.ajax({
		dataType: "json",
		method: 'POST',
		data: send_data,
		url: '../api/v1/setup/conf/user',
		success: function(){
			$('.new-webmail').css('display','none');
		}
	});
}

</script>

<div id="update_popup" class="update_popup">
	<div class="update_banner">
		<a href="javascript:;" class="banner_close_new banner_close mdi mdi-close-circle mdi-24 mdi-blue-500" id="update_popup_close"><span class="blind">닫기</span></a>
		<div class="banner_lottie" id="banner_lottie"></div>
			<div class="banner_cont">
				<p class="banner_tit">업데이트 안내</p>
				<p class="banner_txt">더 나아진 서비스를 만나보세요.</p>
			</div>
	</div>
	<div class="update_cont">
		<div class="update_scroll">
			<ul id='update_list_ul'>
			<!--tmpl_update_list-->	
			</ul>
		</div>
	</div>
</div>
<div id="dialog_previewer" style="display:none" align='center'>
	<div class="top_btn">
	</div>
	<div id="pn_wrap">
		<div id="previewer_prev" class="btn_box left">
			<i class="left_icon"></i>
		</div>
		<div id="previewer_next" class="btn_box right">
			<i class="right_icon"></i>
		</div>
	</div>
	<div id="previewer" class="popup_previewer" style="width:80%;height:95%;padding:20px 0;"><img id="previewer_img"  alt='preview_img'></div>
</div>

<div class="guide-bg"></div>
<span class="mdi mdi-chevron-double-right guide-arrow"></span>
<span class="mdi mdi-chevron-double-left guide-arrow"></span>
<div class="guide-01 guide">
	<p class="guide-head">오른쪽 메뉴가 생겼어요.</p>
	<p class="guide-body"><span class="bold">설정</span>과 <span class="bold">SMS</span>메뉴가 여기로 이동되었습니다.</p>
	<div class="guide-footer">
		<a onclick="guideDone()" class="guide-fin">그만 보기</a>
		<a onclick="nextGuide()" class="guide-btn">다음</a>
	</div>
</div>
<div class="guide-02 guide">
	<p class="guide-head">서비스명이 바뀌었어요.</p>
	<p class="guide-body">주소록은 <span class="bold">연락처</span>로,<br>캘린더는 <span class="bold">일정</span>으로,<br>전자결재는 <span class="bold">결재</span>로,<br>웹하드는 <span class="bold">드라이브</span>라고 불러주세요.</p>
	<div class="guide-footer">
		<a onclick="guideDone()" class="guide-fin">그만 보기</a>
		<a onclick="lastGuide()" class="guide-btn">다음</a>
	</div>
</div>
<div class="guide-03 guide">
	<p class="guide-head">프로필 레이어가 생겼어요.</p>
	<p class="guide-body"><span class="bold">설정</span> 메뉴로 이동할 수 있고,<br>권한에 따라 <span class="bold">관리자</span> 메뉴로 이동할 수 있습니다.</p>
	<div class="guide-footer">
		<a onclick="guideDone()" class="guide-btn">알겠습니다!</a>
	</div>
</div>
<script id="tmpl_update_list" type="text/x-tmpl">
	{% if (o.items) { %}
		{% for (var i=0; i<o.items.length; i++) { %}
		<li class="update_list">
			<div class="update_list_top">
				<div class="ttl_wrap">
					<p class="update_list_tit">
						{%= o.items[i].subject %}
						{% if (o.items[i].regdate > o.date) { %}
						<i class="update_new"><span class="blind">새글</span></i>
						{% } %}
					</p>
					<a href="javascript:;" class="update_list_toggle"><span class="blind">접기/펼치기</span></a>
				</div>
				<div class="update_list_sub">
					<span class="update_date" >{%= o.items[i].regdate %}</span>
					{% if (o.items[i].permission == '1') { %}
					<i class="admin"><span class="blind">관리자</span></i>
					<div class="hover_txt">
						<div class="hover_square"></div>
						<span class="admin_only">이 글은 관리자만 볼 수 있습니다.</span>
					</div>
					{% } %}
				</div>
			</div>
			<div class="toggle">
				<div class="update_list_mid">
					<div class="update_txt" >
						<p>{%# o.items[i].content %}</p>
					</div>
					{% if (o.items[i].url_link) { %}
					<span class="update_setting" onclick="window.open('{%= o.items[i].url_link %}')">{%= o.items[i].url_title %}</span>
					{% } %}
				</div>
				{% for (var j=0; j<o.items[i].image.length; j++) { %}
					<div class="update_list_btm">
						<div class="update_list_img">
							<img src="{%= o.items[i].image[j] %}" alt="preview" class="update_list_img" style="display:block"/>
							<div class="img_hover">
								<i class="img_hover_zoom"></i>
							</div>
						</div>
					</div>
				{% } %}
			</div>
		</li>
		{% } %}
	{% } %}
</script>

<script type="text/javascript">
$(document).ready(function() {
	var isEnd = false;
	var $pop = $("#dialog_previewer");
	var content = $("#update_list_ul");
	var animationSkipForward = bodymovin.loadAnimation({
		container: document.querySelector('.banner_lottie'),
		renderer: 'svg',
		loop: false,
		autoplay: false,
		// path: "https://assets7.lottiefiles.com/packages/lf20_pmITc0.json"
	});
	var paging = {
		offset : 0,
		limit : 10,
	};
	// 애니메이션 이미지 변경
	
	
	//버튼 클릭으로 업데이트 팝업 띄우기
	$(document).on('click', '#update_icon', { click: true }, show_update_info_popup);

	//무한스크롤
    $('.update_scroll').scroll(function(){
        var $window = $(this);
        var scrollTop = $window.scrollTop();
        var windowHeight = $window.height();
        var documentHeight = $('#update_list_ul').height();
		//console.log('scrollTop : '+scrollTop+', windowHeight : '+windowHeight + ', documentHeight : ' + documentHeight);
        
        // scrollbar의 thumb가 바닥 전 1px까지 도달 하면 리스트를 가져온다.
        if( scrollTop + windowHeight + 1 > documentHeight ){
			paging.offset+=paging.limit
           	show_update_info_popup();
        }
    })
    
	//update_info 값 ajax통신
	function show_update_info_popup(click){
		
		$('#update_icon').addClass('active');
		var isDisplay = $('#update_popup').animate({'right':'0'});

		
		//팝업이 띄어진 상태에서 중복클릭 방지
		if(click && isDisplay == 'block'){
			close_popup();
			return;
		}
		//더이상 데이터 없을 시 return
		if(isEnd){
			return;
		}
		$.ajax({
			dataType : "json",
			url : "/common/update_info",
			data : paging,
			beforeSend: function(){
			},
			success: function(res){
				//에러처리
				if(res.ERROR){
					close_popup();
					return;
				}
				//click event
				if(click){
					content.html(tmpl("tmpl_update_list", {
						'items' : res.DATA,
						'date' : res.DATE,
					}));
					return;
				}
				//무한스크롤 append
				content.append(tmpl("tmpl_update_list", {
					'items' : res.DATA,
					'date' : res.DATE,
				}));
				//무한스크롤 10개미만이면 리턴
				if( res.DATA.length < 10 ){
					isEnd = true;
					return;
				}
			},
			complete: function(res){
				//처음 ul열기
				if(click) $('.update_list_top:first').trigger('click');
				$("#update_icon .update_alarm").css('display','none');
			}
		});
		//애니메이션 동작
		if(click){
			$('#help_icon').removeClass('active');
			animationSkipForward.playSegments([0,60], true);
			$('#update_popup').show();
			$('#banner_lottie').addClass('active');
			$('.update_plane1').hide(0).delay(1600).show(0);
			// document.getElementById('video').play();
		}
	}

	//업데이트 내역 상세보기
	$(document).on('click', ".update_list_top", function(){
		var list_cont = $(this).next();
		$(this).children().toggleClass("clicked");
		$(list_cont).slideToggle();
	});

	//이미지 확대보기
	$(document).on('click', ".update_list_img", function(){
		var imgurl = $(this).children("img").attr("src");
		$("#previewer_img").attr("src", imgurl);
		$pop.dialog({
			'resizable' : true,
			'dialogClass' : 'ui-simple',
			'modal' : 'true',
			'width' : $(window).width()-300,
			'min-width': '1080px',
			'height' : $(window).height() -108 ,
			'title' : $(this).parent().parent().parent().find('.update_list_tit').text(),
		})
	});

	//관리자 툴팁
	$(document).on('mouseenter', '.admin', function() {
	 	$(this).parent().find('.hover_txt').css('display','block')
	});

	$(document).on('mouseleave', '.admin', function() {
	 	$(this).parent().find('.hover_txt').css('display','none')
	});

	//공지 팝업 닫기
	$('#update_popup_close').click(close_popup);

	function close_popup(){
		$('#update_popup').animate({'right':'-400px'},function(){
			$(this).css('display','none');
		});
		$('#update_list_ul').empty();
		$(this).next('#banner_lottie').removeClass('active');
		paging = { offset : 0, limit : 10 };
		isEnd = false;
		$('#update_icon').removeClass('active');
	}

})
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="./js/gtag.js?id=UA-48873337-15"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	var host='zm901';
	var domain='yonsei.ac.kr';
	var goods='TYPE3_DEDI';
	var users='5000';
	var user_quota='9999999';
	var start_date='2021-11-29';
	gtag('config', 'UA-48873337-15');
	gtag('event', '/member/login', {
		'event_category': 'member',
		'event_label': domain,
		'value': users
	});
</script>

</body>
</html>